.navbar-brand-btn {
  .navbar-brand-btn-background {
    border: none;
    background: none;
  }
}

.footer,
.get-more-plugins-link,
.pluginlist-none-installed .pluginlist-emphasis {
  display: none;
}

